.container {
  padding: 12px 4px 4px 4px;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 12px 4px 4px 4px;
  background-color: #fff;
}

.leftForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0 12px 12px;
}

.content {
  display: flex;
  width: 600px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #fff;
  padding: 12px;
  margin: 0 12px;
}

.inputGroup:first-of-type {
  border: 2px solid #000;
}

.inputGroup:last-of-type {
  border: 2px solid #000;
}

.inputGroup span:first-of-type {
  font-weight: bold;
}

@keyframes tint-animation {
  from {
    background-color: #fff;
  }
  to {
    background-color: var(--tint-color);
  }
}

.tintAnimation {
  animation-name: tint-animation;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

.tint {
  background-color: var(--tint-color);
}

.store {
  position: fixed;
  left: 24px;
  top: 24px;
  display: flex;
  flex-direction: column;
}

@keyframes transport-animation {
  0% {
    width: 20px;
    height: 20px;
    top: var(--start-y);
    left: var(--start-x);
  }
  25% {
    width: 40px;
    height: 40px;
  }
  50% {
    width: 20px;
    height: 20px;
    top: var(--store-y);
    left: var(--store-x);
  }
  75% {
    width: 40px;
    height: 40px;
  }
  100% {
    width: 20px;
    height: 20px;
    top: var(--end-y);
    left: var(--end-x);
  }
}

.transport {
  position: fixed;
  background-color: green;
  border-radius: 20px;
  animation-name: transport-animation;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
