.container {
  padding: 12px;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 12px;
}

.content {
  display: flex;
  width: 500px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 12px;
  width: 100%;
  border: 2px solid #000;
  margin: 0 12px;
}

.inputGroup:first-of-type {
  border: 2px solid #000;
}

.inputGroup:last-of-type {
  border: 2px solid #000;
}

.inputGroup span:first-of-type {
  font-weight: bold;
}
