body {
  margin: 0;
}

.app {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.refreshButton {
  position: fixed;
  top: 24px;
  right: 24px;
}
